@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --main: #ffffff;
  --accent: #757de8;
}

h1, h2, p {
  font-family: Inter, sans-serif;
}

/*mobile*/
@media (max-width: 767px) {
  .logo{
    height: 70%;
    width: 70%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .form{
    width: 100%
  }

  .questionnaireInput{
    width: 100%;
  }

  .answerButton{
    align-self: center;
    width: 100%;
  }

  .idInput{
    padding-bottom: 5%;
  }
}

/* Styles for desktop screens */
@media (min-width: 768px) {
  .logo{
    height: 30%;
    width: 30%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .form{
    width: 30%;
  }

  .questionnaireInput{
    width: 30%;
  }

  .answerButton{
    align-self: center;
    width: 50%;
  }

  .idInput{
    padding-bottom: 5%;
    width: 30%;
  }
}

.answerOptions{
  align-self: center;
  display: flex;
  /*make there be space between each answer*/
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
}

.answerButton{
  align-self: center;
  width: 50%;
}


.joinForm{
  align-self: center;
  align-items: center;
  justify-content: center;
  display: grid;
  margin: 5% auto;
  margin-left: 10%;
  margin-right: 10%;
}

.about{
  /*background-image: url('./assets/confetti.gif');*/
  background-repeat: repeat;
  background-size: 60% auto;
  background-clip: cover;
  size: 100vh;
  justify-content: center;
  text-align: center;
  margin: 10% auto;
}



.questionnaireInput{
  display: flex;
}

.body{
  /*make */
  font-family: Inter, sans-serif;
  text-align: center;
  margin: 5% auto;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1em;
}
/**/
.button{
  background-color: var(--accent);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 5px 10px;
}

.guesses{
  display: grid;
}

.gameid{
  font-family: Inter, sans-serif;
  font-weight: 1000;
  font-size: 3.5em;
  margin-left: 30vw;
  margin-right: 30vw;
  padding: 10px;
  color:#ffffff;
  background: rgba(113, 125, 228, .8);
  
  border-radius: 10px;
}

.horizontal{
  display: flex;
  justify-content: center;
  margin: 5% auto;
  padding: auto;
}

.players{
  font-family: Inter, sans-serif;
  font-size: 2em;
  margin:auto;
  text-align: center;
}

.player{
  font-family: Inter, sans-serif;
  font-size: 1em;
  margin:auto;
  text-align: center;
  padding: 10px;
  color:#ffffff;
  background: rgba(113, 125, 228, .8);
  border-radius: 5px;
}

.ul{
  list-style-type: none;
  justify-content: center;
  justify-self: center;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  padding-left: 0;
}
/* make the answers not overlap*/
.answer{
  align-self: center;
  width: 50%;
  font-family: Inter, sans-serif;
  font-size: 1em;
  margin:auto;
  text-align: center;
}

.paper{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 50%;
  align-self: center;
  text-align: center;
}



.playerbox{
  margin-left: 10vw;
  margin-right: 10vw;
}

